// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
  font-size: 50px;
  font-weight: bolder;
}

p {
  display: inline;
  padding: 25px;
  margin: 20px;
  background-color: blue;
  color: whitesmoke;
  font-weight: bolder;
  font-size: 20px;
}
